body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  background-color: #faf1c3;
}

header {
  background: url('assets/fondo.jpg') no-repeat center center/cover;
  height: 100vh;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 100px;
}

.logo {
  width: 200px;
  margin-top: 40px;
}

.subtitle {
  font-size: 2rem;
  margin-top: 32px;
}

.menu, #about, #contact {
  padding: 600px 300px;
  max-width: 1000px;
  margin: auto;
}

.menu-items {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  text-align: center;
}

.menu-item img {
  width: 600px;
  border-radius: 8px;
}

.gallery img {
  width: 500px;
  margin: 50px;
  border-radius: 50px;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
}
